$primary-100: #f8f7fd;
$primary-200: #eeeafb;
$primary-300: #ded5f6;
$primary-400: #b6a2ec;
$primary-500: #6037d6;
$primary-600: #5128c3;
$primary-700: #4e2cab;
$primary-800: #391c89;
$primary-900: #251258;

$neutral-100: #fcfcfc;
$neutral-200: #f4f5f6;
$neutral-300: #eff0f1;
$neutral-400: #e4e5e7;
$neutral-500: #c6cace;
$neutral-600: #8c959d;
$neutral-700: #656d76;
$neutral-800: #494f55;
$neutral-900: #282c2f;

$success-100: #f4fdf8;
$success-200: #ebf7f0;
$success-500: #30b56f;

$error-100: #fff4f4;
$error-200: #fbe4e4;
$error-500: #e44646;

$warning-100: #fff8ee;
$warning-200: #fff0db;
$warning-500: #ef8f11;

$info-100: #f4fafd;
$info-200: #e1f3fb;
$info-500: #308db5;

$base-black: #02021c;
$base-white: #ffffff;

$trans-white-30: rgba($base-white, 0.3);
$trans-white-50: rgba($base-white, 0.5);
$trans-white-70: rgba($base-white, 0.7);

$trans-black-30: rgba($base-black, 0.3);
$trans-black-50: rgba($base-black, 0.5);
$trans-black-70: rgba($base-black, 0.7);
