@mixin elevation-light {
  box-shadow: 0 4px 8px rgba(#02021c, 0.08);
}

@mixin elevation-medium {
  box-shadow: 0 4px 16px rgba(#02021c, 0.12);
}

@mixin elevation-strong {
  box-shadow: 0 4px 24px rgba(#02021c, 0.16);
}
